.footer{
    background-color: hsla(0, 10%, 26%, 0.8);
    color: aliceblue;
    border-radius: 40px;
    padding: 10px;
    font-size: 17px;
    width: 75%;
    margin: auto;
    
}
.imgFooter{
    
    padding: 10px;
}
.p{
    padding: 5px;
  
}

@media(max-width:500px){

    .footer{
        width: 90%;
    }
}