.pokemon{
    margin: auto;
    margin-top: 2%;
    background-color: hsla(0, 0%, 100%,0.9);
    border: solid rgba(255, 0, 0, 0.76);
    border-radius: 35%;
    padding: 10px;
    min-width: 25%;
    
    
    }

    .pokeImg{
        width: 50%;

        margin: auto;
    }

    .pokeName{
     color:yellow;
     border: solid rgb(0, 132, 255);
     background-color:  rgb(0, 132, 255);
     padding: 0.5px;
     border-radius: 50px;
     width: 70%;
     margin: auto;
     font-size: 13px;
    
        
    }