.pokemon{
    margin: auto;
    margin-top: 2%;
    background-color: hsla(0, 10%, 26%, 0.6);
    border: solid rgba(255, 0, 0, 0.486);
    border-radius: 50px;
    padding: 10px;
    color: aliceblue;
    min-width: 25%;
    
    
    }

    .pokeImg{
        width: 50%;

        margin: auto;
    }

    .pokeName{
      
    text-align: center;
    color: aliceblue;
    font-size: 0.7em;
    
        
    }