.pokemon{
    margin: auto;
    margin-top: 2%;
    background-color: hsla(0, 4%, 32%, 0.9);
    border-radius: 40%;
    
    
    }

    .pokeImg{
        width: 50%;

        margin: auto;
    }

    .pokeInf{
      
    text-align: center;
    font-size: 0.7em;
        
    }