* {
  padding:0;
  margin:0;
  vertical-align:baseline;
  list-style:none;
  border:0
  }

.App {
  text-align: center;
  background-image: url(imgs/117920-pokemon-ball-vector-gratis-vetor.jpg);
  /* position: absolute; */
  background-repeat: repeat;
  /* background-attachment: fixed; */
}

.pokedex{
  
  padding: 2%;
  display: flex;
  flex-wrap: wrap;
 
  
  
  width: 50%;
  
  margin: auto;

}

.img{
    max-width: 8%;
}