.App {
  text-align: center;
  background-image: url(imgs/117920-pokemon-ball-vector-gratis-vetor.jpg);
  /* position: absolute; */
  background-repeat: repeat;
  /* background-attachment: fixed; */
  background-size: contain ;
}

.pokedex{
  
  padding: 2%;
  display: flex;
  flex-wrap: wrap;
 
  
  
  width: 50%;
  
  margin: auto;

}